{% extends 'base.html' %}


{% block title %}
    <title>
        {% if title %}
            This subreddit about {{title.lower()}}
        {% endif %}
    </title>
{% endblock %}

<body>
{% block content %}
{{ super() }}
    {% for i in subreddits_list %}
    <form>
        <fieldset class="subreddit-block">
            <legend><b>{{i['author']}}</b></legend>
            <i>{{i['date_post']}}</i><br>
            <p></p>
            <a href="{{i['url_post']}}">Title: {{i['title']}}</a>
        </fieldset>
    </form>
    {% endfor %}
{% endblock%}
</body>
